{% extends 'dashboard/base.html' %}


{% load static %}

{% block body %}
<!--<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]
</head>-->
    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Service</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                  <form class="form-horizontal" action="{% url 'create_service' %}" method="POST">
                    {% csrf_token %}
                            <div class="form-group">
                            <div class="col">
                                    <input type="text" class="form-control" name="name" placeholder="Name" id="inputService" required="">
                                    <!--<label for="inputCategory">Category Name</label>-->
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="col">
                                    <input type="number" class="form-control" name="prix" placeholder="Price" id="inputService" required="">
                                    <!--<label for="inputCategory">Category Name</label>-->
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="col">    
                                    <textarea type="text" class="form-control" name="description" placeholder="Description" id="inputService" required=""></textarea>
                                    <!--<label for="inputCategory">Category Name</label>-->
                            </div>
                            </div>
                    <div class="m-t-20 text">
                        <button class="btn btn-primary submit-btn">Add Service</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>-->
{% endblock %}