{% extends 'publisher/base.html' %}
{% load static %}

{% block body %}
<div class="main-wrapper">
    <div class="page-wrapper">
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
              <div id="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Client : {{ object.firt_name }} </a>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-warning"></i>
                    Details Of Client
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

 <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>First name:</strong> {{ object.firt_name }}</li>
              <li class="list-group-item"><strong>Last name :</strong> {{ object.last_name }}</li>
              <li class="list-group-item"><strong>Society name :</strong> {{ object.society }}</li>
              <li class="list-group-item"><strong>Email :</strong> {{ object.email }}</li>
              <li class="list-group-item"><strong>Address :</strong> {{ object.address }}</li>
              <li class="list-group-item"><strong>Contact :</strong> {{ object.contact }}</li>
              <li class="list-group-item"><strong>Date :</strong> {{ object.date }}</li>
              <li class="list-group-item"><strong>Description :</strong> {{ object.description }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer" style="padding-top: 10px">
        <div class="col-12">
                <a href="{% url 'alclient' %}"><button type="button" class="btn btn-success">Back</button></a>
        </div>
    </div>


          </div>
        </div>
      </div>
    </div>
{% endblock %}
